html{
    background-color: #370042;
}
#tableSize {
    font-size: 16px;
    color: black;
    width: 60px;
    height: 40px;
    background-color: white;
    border: 2px solid #1e1920a8;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0px 10px;
    box-sizing: border-box;
}
.animated-text p {
    opacity: 0;
}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
.animated-text p {
    color: white;
    font-size: 10.5vw;
    animation-name: fade-in;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
#tableSize:focus {
    outline: none;
    border: 2px solid #000000;
}
table {
    margin: 10px auto;
    width: 700px;
    height: 700px;
    border-collapse: collapse;
}
td[data-mode = "empty"] {
    background-color: #d180c5;
}
td[data-mode = "wall"] {
    background-color: #9e5493;
}
td[data-mode = "start"] {
    background-color: #540048;
}
td[data-mode = "finish"] {
    background-color: #483d8b;
}
td[data-mode = "path"] {
    background-color: #0f129c;
}
td[data-mode = "checked"] {
    background-color: #8A2BE2;
}
td[data-mode = "checking"] {
    background-color: #c71585;
}
td[data-mode = "empty"]:hover {
    color: #575757;
}