.square {
    width: 50px; /* Задаем ширину квадрата */
    height: 50px; /* Задаем высоту квадрата */
    background-color: #ccc; /* Задаем цвет фона квадрата */
    border: 1px solid #000; /* Задаем границу квадрата */
    box-sizing: border-box; /* Учитываем границу внутри размера квадрата */
    float: left; /* Выравниваем квадраты по горизонтали */
}