td
{
    border: 2px solid black;
    padding:  20px;
    background-size: 50px 50px;
}

#tablecontroiner
{
    margin: 50px auto;
    width: 200px;
    max-width: 1000px;
    min-width: 50px;
    height: 200px;
    max-height: 1200px;
    min-height: 100px;
}